.swiper-button-next {
    background-color: rgba(255, 255, 255, 0.582);       /* Fondo blanco o el que desees */
    border-radius: 9999px;         /* Totalmente redondo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  /* Sombra */
    width: 44px;                   /* Ancho del botón */
    height: 44px;                  /* Alto del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f59e0b;                /* Color de la flecha */
    font-size: 20px;               /* Tamaño de la flecha */
}

.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.582);       /* Fondo blanco o el que desees */
  border-radius: 9999px;         /* Totalmente redondo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  /* Sombra */
  width: 44px;                   /* Ancho del botón */
  height: 44px;                  /* Alto del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f59e0b;                /* Color de la flecha */
  font-size: 20px;               /* Tamaño de la flecha */
}

.swiper-button-next::after{
    font-weight: bold;
    font-size: 20px;               /* Tamaño de la flecha */
}

.swiper-button-prev::after {
  font-weight: bold;
  font-size: 20px;               /* Tamaño de la flecha */
}
/* Puntos normales */
.swiper-pagination-bullet {
    background-color: #f59e0b ;
    opacity: 0.6;
  }
  
  /* Punto activo */
  .swiper-pagination-bullet-active {
    background-color: #d97706 ;
    opacity: 1;
  }
  


  