

  <div class="w-full bg-orange-50 overflow-hidden pt-25 pr-10 pl-10 dark:bg-gray-900 dark:text-gray-300">

    <hr class="mr-8 ml-8 mt-5" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Contenedor para la imagen y el texto -->
    <div class="flex items-center justify-center font-sans  py-10 px-6">
      <!-- Parte de la imagen (centrada verticalmente, con borde y parallax) -->
      <div class="w-1/2 h-[450px]  rounded-lg bg-cover bg-center mr-10 flex items-center justify-center"
        [style.backgroundImage]="'url(' + getImagenesPrincipal()[0] + ')'">
      </div>

      <!-- Parte del texto (centrado verticalmente, letras más grandes) -->
      <div class="w-1/3 flex items-center">
        <div *ngIf="emprendedor" class="text-center">
          <h1 class="text-5xl text-blue-800 font-bold dark:text-red-400 mb-6">
            {{ emprendedor.nombre || 'Nombre no disponible' }}
          </h1>
          <p class="text-xl text-gray-900 dark:text-gray-300 leading-relaxed">
            {{ emprendedor.descripcion || 'Descripción no disponible' }}
          </p>
        </div>
      </div>
    </div>
    <hr class="mx-8" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Servicios -->
    <div class="container mx-auto px-4 py-10">
      <h2 class="text-3xl font-bold mb-10 ml-4 text-blue-800 text-left relative pb-3 dark:text-gray-200">
        Servicios ofrecidos:
      </h2>

      <!-- Contenedor general dinámico -->
      <div class="flex flex-wrap justify-center gap-8">
        <div *ngFor="let servicio of emprendedor?.servicios"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full max-w-sm">

          <!-- Nombre del servicio -->
          <h3 class="text-xl font-bold text-red-600 mb-3 dark:text-amber-400">
            {{ servicio.nombre }}
          </h3>

          <!-- Descripción -->
          <p class="text-gray-700 font-semibold mb-4 dark:text-gray-300">
            {{ servicio.descripcion }}
          </p>

          <!-- Precio centrado -->
          <div class="pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200">
              Precio: S/. {{ servicio.precio_referencial }}
            </span>
          </div>
        </div>
      </div>

    </div>
    <hr class="mt-5 mx-8" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Horarios de los servicios -->
    <div class="container mx-auto px-4 py-10">
      <h2 class="text-3xl font-bold mb-10 ml-4 text-blue-800 text-left relative pb-3 dark:text-gray-200">
        Horarios:
      </h2>

      <div *ngIf="emprendedor && emprendedor.servicios?.length" class="flex flex-wrap gap-8 justify-center">
        <div *ngFor="let servicio of emprendedor.servicios">
          <div *ngIf="servicio.horarios && servicio.horarios.length > 0"
            class="bg-white dark:bg-gray-800 rounded-xl m-9 shadow-md p-6 w-full max-w-sm hover:shadow-lg transition-all duration-300 dark:border dark:border-gray-700">

            <!-- Nombre del servicio -->
            <h3 class="text-xl font-bold text-red-600 mb-3 dark:text-amber-400 text-center">
              {{ servicio.nombre }}
            </h3>

            <!-- Lista de horarios -->
            <h4 class="font-semibold text-amber-600 dark:text-amber-400 text-left mb-2">Horarios disponibles:</h4>
            <ul class="space-y-2">
              <li *ngFor="let horario of getOrdenadosHorarios(servicio.horarios)"
                class="flex justify-between items-center text-gray-700 dark:text-gray-300 border-b border-gray-200 dark:border-gray-600 pb-1">
                <span class="capitalize font-medium mr-8">{{ traducirDia(horario.dia_semana) }}:</span>
                <span class="text-sm">{{ horario.hora_inicio }} - {{ horario.hora_fin }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-5 mx-8" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Imagenes -->
    <div class="container  px-4 my-10">
      <h2 class="text-3xl font-bold mb-10 ml-4 text-blue-800 text-left relative pb-3 dark:text-gray-200">
        Imagenes
      </h2>

      <div class=" px-4">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide " *ngFor="let slider of getImagenesSecundarias(); let i = index">

              <div class="rounded-2xl overflow-hidden shadow-lg h-80">
                <img class="w-full h-full object-cover transition-transform duration-500 hover:scale-110"
                  [src]="slider.url_completa" alt="Imagen secundaria" />
              </div>

              <div class="mt-4 mb-7 text-center" *ngIf="slider.descripcion">
                <h3 class="text-lg font-bold text-black dark:text-white">
                  {{ slider.descripcion.titulo || 'Sin título' }}
                </h3>
                <p class="text-gray-600 dark:text-gray-300">
                  {{ slider.descripcion.descripcion || 'Sin descripción' }}
                </p>
              </div>

            </div>
          </div>
          <div class="flex justify-center items-center">
            <div class="swiper-button-next !text-blue-500"></div>
            <div class="swiper-button-prev !text-blue-500"></div>
          </div>
        </div>
      </div>

    </div>
    <hr class="mt-5 mx-8" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Mas info -->
    <div class="container mx-auto px-4 py-10">
      <h2 class="text-3xl font-bold mb-10 ml-4 text-blue-800 text-left relative dark:text-gray-200">
        Más Información
      </h2>

      <!-- Contenedor general dinámico -->
      <div class="flex flex-wrap justify-center gap-8 bg-sky-200 py-13">

        <!-- Idiomas Hablados -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="mb-4">
            <svg class="h-8 w-68 text-gray-600 dark:text-gray-300 mx-auto" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129" />
            </svg>
          </div>
          <!-- titulo -->
          <h3 class="text-xl font-bold text-red-600 dark:text-amber-400 mb-2">Idiomas Hablados</h3>
          <!-- Descripción -->
          <p
            class="text-gray-700 font-semibold mb-4 dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
            {{ emprendedor.idiomas_hablados || 'No disponible' }}
          </p>
        </div>

        <!-- Métodos de pago -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="mb-4">
            <svg class="h-8 w-68 text-gray-600 dark:text-gray-300 mx-auto" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
            </svg>
          </div>
          <!-- titulo -->
          <h3 class="text-xl font-bold text-red-600 dark:text-amber-400 mb-2">Métodos de pago</h3>
          <!-- Descripción -->
          <p
            class="text-gray-700 font-semibold mb-4 dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
            {{ emprendedor.metodos_pago || 'No disponible' }}
          </p>
        </div>

        <!-- Certificaciones -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="mb-4">
            <svg class="h-8 w-68 text-gray-600 dark:text-gray-300 mx-auto" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <!-- titulo -->
          <h3 class="text-xl font-bold text-red-600 dark:text-amber-400 mb-2">Certificaciones</h3>
          <!-- Descripción -->
          <p
            class="text-gray-700 font-semibold mb-4 dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
            {{ emprendedor.certificaciones || 'No disponible' }}
          </p>
        </div>

        <!-- Rango de precio -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="mb-4">
            <svg class="h-8 w-68 text-gray-600 dark:text-gray-300 mx-auto" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
          <!-- titulo -->
          <h3 class="text-xl font-bold text-red-600 dark:text-amber-400 mb-2">Rango de precio</h3>
          <!-- Descripción -->
          <p
            class="text-gray-700 font-semibold mb-4 dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
            {{ emprendedor.precio_rango|| 'No disponible' }}
          </p>
        </div>

        <!-- Opciones de acceso -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="mb-4">
            <svg class="h-8 w-68 text-gray-600 dark:text-gray-300 mx-auto" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
            </svg>
          </div>
          <!-- titulo -->
          <h3 class="text-xl font-bold text-red-600 dark:text-amber-400 mb-2">Opciones de acceso</h3>
          <!-- Descripción -->
          <p
            class="text-gray-700 font-semibold mb-4 dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
            {{ emprendedor.opciones_acceso || 'No disponible' }}
          </p>
        </div>

        <!-- Facilidad para discapacitados -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="mb-4">
            <svg class="h-8 w-68 text-gray-600 dark:text-gray-300 mx-auto" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
            </svg>
          </div>
          <!-- titulo -->
          <h3 class="text-xl font-bold text-red-600 dark:text-amber-400 mb-2">Facilidad para discapacitados</h3>
          <!-- Descripción -->
          <p
            class="text-gray-700 font-semibold mb-4 dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
            {{ emprendedor.facilidades_discapacidad || 'No disponible' }}
          </p>
        </div>

        <!-- Capacidad de Aforo -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl text-center hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="mb-4">
            <svg class="h-8 w-68 text-gray-600 dark:text-gray-300 mx-auto" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0" />
            </svg>
          </div>
          <!-- titulo -->
          <h3 class="text-xl font-bold text-red-600 dark:text-amber-400 mb-2">Capacidad de Aforo</h3>
          <!-- Descripción -->
          <p
            class="text-gray-700 font-semibold mb-4 dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
            <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
            {{ emprendedor.capacidad_aforo || 'No disponible' }}
          </p>
        </div>


      </div>

    </div>

    <!-- Contactos -->
    <div class="container mx-auto px-4 py-10">
      <h2 class="text-3xl font-bold mb-10 ml-4 text-blue-800 text-left relative dark:text-gray-200">
        Contactos
      </h2>

      <div class="flex flex-wrap gap-8 justify-center bg-sky-200 py-13">

        <!-- Telefono -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">

          <div class="flex items-center gap-4">
            <!-- Icono -->
            <svg class="h-11 w-11 ml-5 text-gray-600 dark:text-gray-300 flex-shrink-0" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129" />
            </svg>

            <!-- Texto -->
            <div class="ml-20">
              <!-- titulo -->
              <h3 class="text-xl font-bold text-amber-600 text-center dark:text-amber-400 mb-2">Telefono</h3>
              <!-- Descripción -->
              <p
                class="text-gray-700 font-semibold mb-4 text-center dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700">
                <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
                {{ emprendedor.telefono || 'No disponible' }}
              </p>
            </div>
          </div>
        </div>

        <!-- Correo -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">

          <div class="flex items-center gap-4">
            <!-- Icono -->
            <svg class="h-11 w-11 mx-5 text-gray-600 dark:text-gray-300 flex-shrink-0" fill="none" stroke="currentColor"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129" />
            </svg>

            <!-- Texto -->
            <div>
              <!-- titulo -->
              <h3 class="text-xl font-bold text-amber-600 text-center dark:text-amber-400 mb-2">Correo</h3>
              <!-- Descripción -->
              <a [href]="'mailto:' + emprendedor.email"
                class="text-gray-700 font-semibold mb-4 text-center dark:text-gray-300 pt-3 border-t border-gray-200 dark:border-gray-700 hover:text-red-400 dark:hover:text-red-300">
                <span class="block text-lg font-medium text-amber-600 dark:text-gray-200"></span>
                {{ emprendedor.email || 'No disponible' }}
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr class="mt-5 mx-8" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Ubicación -->
    <div class="container mx-auto px-4 py-10">
      <h2 class="text-3xl font-bold mb-10 ml-4 text-blue-800 text-left relative dark:text-gray-200">
        Ubicación
      </h2>
      <div *ngIf="emprendedor" class="text-start">
        <p class="text-xl text-gray-900 ml-4 font-semibold dark:text-gray-300 leading-relaxed mb-3">
          {{ emprendedor.ubicacion || 'no disponible' }}
        </p>
      </div>

      <div>
        <app-ubicacion-map [latitud]="latitud" [longitud]="longitud" (ubicacionChange)="actualizarUbicacion($event)">
        </app-ubicacion-map>

      </div>
    </div>
    <hr class="mt-5 mx-8" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Reseña -->
    <div class="container mx-auto px-4 py-10">
      <h2 class="text-3xl font-bold mb-10 ml-4 text-blue-800 text-left relative dark:text-gray-200">
        Reseñas de turistas
      </h2>

      <div class="flex flex-wrap gap-8 justify-center bg-sky-200 py-13">
        <!-- Reseña -->
        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">

          <div class="flex gap-4 items-start">
            <!-- Columna Izquierda: Imagen y estrellas -->
            <div class="flex flex-col items-center">
              <img
                src="https://images.ctfassets.net/4cd45et68cgf/mqaXBQ60wsGrATcUfbsad/0f53044a6b614a2015324937c9cba9f5/10P_F007_-_A4.jpg?w=2000"
                alt="Foto del turista" class="w-20 h-20 rounded-full object-cover border-2 border-amber-400 shadow-sm">
              <p class="mt-2 text-amber-500 text-lg">★★★★★</p>
            </div>

            <!-- Columna Derecha: Texto -->
            <div class="flex-1 text-center">
              <h3 class="text-lg font-bold text-amber-600 dark:text-amber-400">{{ 'Patricio O’ward' }}</h3>
              <p class="text-sm text-gray-600 dark:text-gray-300 mb-1">Argentina</p>
              <p class="text-sm text-gray-700 font-semibold dark:text-gray-200 mb-3">
                "La trucha frita es espectacular. Ambiente familiar y precios accesibles"
              </p>

            </div>
          </div>

        </div>

        <div *ngIf="emprendedor"
          class="bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:shadow-xl hover:scale-[1.06] dark:bg-gray-800 dark:border dark:border-gray-700 w-full sm:w-[calc(33.333%-2rem)] max-w-sm">
          <div class="flex gap-4 items-start">
            <!-- Columna Izquierda: Imagen y estrellas -->
            <div class="flex flex-col items-center">
              <img
                src="https://images.ctfassets.net/4cd45et68cgf/mqaXBQ60wsGrATcUfbsad/0f53044a6b614a2015324937c9cba9f5/10P_F007_-_A4.jpg?w=2000"
                alt="Foto del turista" class="w-20 h-20 rounded-full object-cover border-2 border-amber-400 shadow-sm">
              <p class="mt-2 text-amber-500 text-lg">★★★★★</p>
            </div>

            <!-- Columna Derecha: Texto -->
            <div class="flex-1 text-center">
              <h3 class="text-lg font-bold text-amber-600 dark:text-amber-400">{{ 'Patricio O’ward' }}</h3>
              <p class="text-sm text-gray-600 dark:text-gray-300 mb-1">Argentina</p>
              <p class="text-sm text-gray-700 font-semibold dark:text-gray-200 mb-3">
                "La trucha frita es espectacular. Ambiente familiar y precios accesibles"
              </p>

            </div>
          </div>
        </div>

      </div>


    </div>



  </div>






  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const swiper = new Swiper('.swiper', {
        slidesPerView: 1,
        spaceBetween: 20,
        loop: true,
        centeredSlides: true,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        }
      });
    });
  </script>

