<!-- Mostrar loading en pantalla completa -->
<div *ngIf="cargando" class="fixed inset-0 z-50 flex flex-col items-center justify-center bg-white dark:bg-gray-900">
  <img src="https://scontent.fjul2-1.fna.fbcdn.net/v/t39.30808-6/497890824_1885022885685780_2780375811426287422_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGNZbSpBp_1xGweQjPOKbN1CSWN0eIYysAJJY3R4hjKwE4T3uEH2C0EUEjrIB5YGcBBLhpIoYQayPvYv7na5WFW&_nc_ohc=ldL78TVrLiYQ7kNvwHIb6kZ&_nc_oc=AdnSG4mAhvGXF2SsXrhB-i7Xsx10NDWe_yiEcVeykVN4XnQo5Jypmi7tUfdrN9M0nxZsrUi5xeh5oEqeaM6MDHen&_nc_zt=23&_nc_ht=scontent.fjul2-1.fna&_nc_gid=JLB3bKbZmMQaCZBFwWk2CA&oh=00_AfI7RQTQei8uR_UFQyUhNOi4X1VXiPBMS8xuUk6xjxj4KA&oe=682C9851" alt="Cargando turismo Capachica" class="w-24 h-24 animate-bounce-slow mb-6">
  <p class="text-xl text-amber-700 font-semibold dark:text-white">Cargando...</p>
  <div class="mt-4 animate-spin rounded-full h-12 w-12 border-t-4 border-amber-500"></div>
</div>
<div *ngIf="!cargando">
    
<!-- Contenedor general -->
<div class="w-full bg-orange-50 dark:bg-gray-800 overflow-hidden">

    <!-- Título y descripción -->
    <div class="text-center p-10 pt-30">
        <h1 class=" titulox text-4xl text-blue-900 dark:text-blue-400 font-semibold font-merriweather p-5">
            "Capachica: Emprender con identidad"
        </h1>
        <p class="text-lg  dark:text-gray-300 mt-5 max-w-2xl mx-auto">
            Desde tejidos ancestrales hasta sabores tradicionales, conoce a las familias que mantienen viva la herencia
            cultural de Capachica mientras crean nuevas oportunidades.
        </p>
    </div>

    <hr class="mr-8 ml-8" style="height: 4px; background-color: #9B2226; border: none;">

    <!-- Tarjetas de familias -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-4 py-12 max-w-7xl mx-auto">

        <!-- Mensaje de carga -->
        <div *ngIf="!emprendedores || emprendedores.length === 0" class="col-span-3 text-center py-10">
            <p class="text-lg text-gray-600 dark:text-gray-300">Cargando emprendedores...</p>
        </div>

        <!-- Tarjetas dinámicas -->
        <div *ngFor="let e of emprendedores"
            class="bg-white max-w-sm w-full mx-auto rounded-xl shadow-lg overflow-hidden transition transform hover:scale-105 hover:shadow-2xl dark:bg-gray-700">
            <div class="p-5">
                <img class="w-full h-64 object-cover rounded-lg " [src]="getImagenPrincipal(e)"
                    [alt]="'Imagen representativa de la familia ' + e?.nombre + ' en ' + e?.ubicacion">
            </div>


            <!-- Contenido de la tarjeta -->
            <div class="p-4">
                <div class="mb-4">
                    <h3 class="text-center text-xl font-bold text-rose-600 dark:text-amber-400">{{ e?.nombre }}</h3>
                    <p class="text-center text-lg text-amber-500 font-semibold text-xs dark:text-amber-400 pt-2">{{
                        e?.ubicacion }}</p>
                </div>
                <p class="text-center  mt-4 text-gray-600 font-semibold dark:text-gray-300 text-xs">
                    {{ e?.descripcion }}
                </p>

                <!-- Botón de navegación -->
                <div class="text-right mt-4">
                    <a [routerLink]="['/detallefamilias', e?.id]"
                        class="inline-block px-6 py-2 bg-blue-600 dark:bg-amber-500 text-white text-sm font-semibold rounded-lg hover:bg-green-500 dark:hover:bg-amber-400 transition">
                        + Información
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

</div>